.ui-kit-accordion {
  overflow: hidden;

  &-trigger,
  &-content {
    position: relative;
    z-index: 5;
  }

  &-trigger {
    padding: 12px 8px 12px 16px;
    color: $text-secondary;

    &:hover,
    &.is-active {
      background-color: $hover-bg-light;
    }

    &.is-active {
      border-bottom: 1px solid $border-color;
    }
  }

  &-content {
    padding: 12px 16px;
  }

  &-item {
    background-color: $white;

    &.accordion-item--open {
      background-color: $secondary-light;
    }
  }
}
