@keyframes ui-kit-slide-in-down {
  from {
    transform: translateY(-24px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes ui-kit-slide-out-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-24px);
  }
}

@keyframes ui-kit-slide-in-up {
  from {
    transform: translateY(24px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes ui-kit-slide-out-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(24px);
  }
}

@keyframes ui-kit-slide-in-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-24px);
  }
}

@keyframes ui-kit-slide-out-right {
  from {
    transform: translateX(-24px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes ui-kit-slide-in-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(24px);
  }
}

@keyframes ui-kit-slide-out-left {
  from {
    transform: translateX(24px);
  }
  to {
    transform: translateX(0);
  }
}
