$btn-font-weight: var(--ui-kit-btn-font-weight, 500);

.ui-kit-action-container {
  overflow-y: hidden;
  overflow-x: auto;
}

.ui-kit-btn-group {
  display: flex;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &.ui-kit-btn-group__align-center {
    align-items: center;
  }

  &.ui-kit-btn-group__align-top {
    align-items: flex-start;
  }

  &.ui-kit-btn-group__align-bottom {
    align-items: flex-end;
  }

  &.ui-kit-btn-group__justify-center {
    justify-content: center;

    &.ui-kit-btn-group__has-gap {
      &.gap__small {
        .ui-kit-btn {
          margin: 0 4px;
        }
      }
  
      &.gap__medium {
        .ui-kit-btn {
          margin: 0 6px;
        }
      }
  
      &.gap__large {
        .ui-kit-btn {
          margin: 0 8px;
        }
      }
    }
  }

  &.ui-kit-btn-group__justify-left {
    justify-content: flex-start;

    &.ui-kit-btn-group__has-gap {
      &.gap__small {
        .ui-kit-btn {
          margin-right: 8px;
        }
      }
  
      &.gap__medium {
        .ui-kit-btn {
          margin-right: 12px;
        }
      }
  
      &.gap__large {
        .ui-kit-btn {
          margin-right: 16px;
        }
      }
    }
  }

  &.ui-kit-btn-group__justify-right {
    justify-content: flex-end;

    &.ui-kit-btn-group__has-gap {
      &.gap__small {
        .ui-kit-btn {
          margin-left: 8px;
        }
      }
  
      &.gap__medium {
        .ui-kit-btn {
          margin-left: 12px;
        }
      }
  
      &.gap__large {
        .ui-kit-btn {
          margin-left: 16px;
        }
      }
    }
  }

  &:not(.ui-kit-btn-group__has-gap) {
    .ui-kit-btn {
      &:not(.ui-kit-btn__plain) {
        &:not(:first-child),
        &:not(:last-child) {
          border-radius: 0;
        } 

        &:first-child {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        &:last-child {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }

        &:focus {
          z-index: 12;
        }
      }
    }
  }

  .ui-kit-btn {
    &:not(:disabled):focus {
      box-shadow: none;
    }
  }
}

.ui-kit-btn {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  text-decoration: none;
  outline-width: 0;
  border-radius: $border-radius;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: all .25s linear;
  height: 32px;
  padding: 0 1rem;
  color: $btn-color;
  border: 1px solid;
  font-weight: $btn-font-weight;
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  span {
    &.ripple {
      position: absolute; /* The absolute position we mentioned earlier */
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 600ms linear;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  
  &.ui-kit-btn-raised {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
  }

  &.ui-kit-btn-block {
    width: 100%;
  }

  &:not(:disabled):hover {
    background-image: none !important;
    box-shadow: none;
  }

  &:not(:disabled):focus {
    outline: 0;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.6), 0 2px 8px 0px rgba(0, 0, 0, 0.3), 0 0px 0px 2px rgba(0, 0, 0, 0.05);
  }

  &:disabled {
    background-image: none !important;
    cursor: not-allowed;
    border-color: transparent !important;
    opacity: 0.5;
  }

  &.ui-kit-btn-default {
    @include gradient($white, $btn-bg);
    border-color: $border-color;

    &:not(:disabled):focus {
      border-color: $primary;
      box-shadow: 0 0 0 1px $primary;
    }

    &.ui-kit-btn__plain {
      border-color: transparent;
      background-color: transparent;
      background-image: none;

      &:not(:disabled):hover {
        background-color: rgba($color: #000000, $alpha: .05);
      }
    }
  }

  &.ui-kit-btn-primary {
    @include btn-variant($primary, $primary-dark, $primary-light, $primary-300);
  }

  &.ui-kit-btn-danger {
    @include btn-variant($danger, $danger-dark, $danger-light, $danger-300);
  }

  &.ui-kit-btn-warning {
    @include btn-variant($warning, $warning-dark, $warning-light, $warning-300);
  }

  &.ui-kit-btn-success {
    @include btn-variant($success, $success-dark, $success-light, $success-300);
  }

  &.ui-kit-btn-size-tiny {
    height: 24px;
    font-size: 11px;
    padding: 0 .5rem;

    .ui-kit-btn-icon-left {
      padding-right: 4px;
    }

    .ui-kit-btn-icon-right {
      padding-left: 4px;
    }

    &.icon-only {
      padding: 0 4px;
    }
  }

  &.ui-kit-btn-size-small {
    height: 28px;
    font-size: 12px;
    padding: 0 .75rem;

    .ui-kit-btn-icon-left {
      padding-right: 4px;
    }

    .ui-kit-btn-icon-right {
      padding-left: 4px;
    }

    &.icon-only {
      padding: 0 5px;
    }
  }

  &.ui-kit-btn-size-default {
    height: 32px;
    font-size: 13px;
    padding: 0 1rem;

    .ui-kit-btn-icon-left {
      padding-right: 6px;
    }

    .ui-kit-btn-icon-right {
      padding-left: 6px;
    }

    &.icon-only {
      padding: 0 6px;
    }
  }

  &.ui-kit-btn-size-medium {
    height: 36px;
    font-size: 14px;
    padding: 0 1.25rem;

    .ui-kit-btn-icon-left {
      padding-right: 6px;
    }

    .ui-kit-btn-icon-right {
      padding-left: 6px;
    }

    &.icon-only {
      padding: 0 7px;
    }
  }

  &.ui-kit-btn-size-large {
    height: 42px;
    font-size: 16px;
    padding: 0 1.25rem;

    .ui-kit-btn-icon-left {
      padding-right: 6px;
    }

    .ui-kit-btn-icon-right {
      padding-left: 6px;
    }

    &.icon-only {
      padding: 0 8px;
    }
  }
}

a.ui-kit-btn {
  &:hover {
    color: inherit;
  }
}
