.has-hover-effect {
  &:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
}

.radius-circle {
  border-radius: 50%;
}

.ui-kit-form {
  width: 100%;
  min-height: 100%;

  &.form-with-fixed-action {
    display: flex;
    flex-direction: column;
  }

  .form-action-button {
    margin: 0 -16px;
    padding: 0 16px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    &.sticky-footer {
      margin-top: auto;
      background-color: #fff;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.sticky-footer {
  position: sticky;
  bottom: 0;
}

.is-clickable {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.mask-bg {
  &-05 {
    background-color: rgba(49, 58, 66, 0.05);
  }

  &-10 {
    background-color: rgba(49, 58, 66, 0.10);
  }
}

.user-select-none {
  user-select: none;
}

.has-shadow {
  box-shadow: $shadow;
}

.has-shadow-sm {
  box-shadow: rgba(18, 52, 77, .16) 0px 1px 4px 0px, rgba(18, 52, 77, .06%) 0px 1px 2px 0px;
}
