$dropdown-z-index: var(--ui-kit-dropdown-z-index, 21);

.dropdown-content {
  padding: 0.5rem;
}

.ui-kit-dropdown {
  height: auto;
  position: relative;

  &__trigger {
    .ui-btn-loader {
      margin-right: 0 !important;
    }
  }

  &__container {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: $shodow;
    padding: 8px;
    margin: 0;
    border-radius: $border-radius;
    overflow: auto;
  }

  &__wrapper {
    position: fixed;
    min-width: 160px;
    z-index: $dropdown-z-index;

    &.open {
      margin-top: 4px;
      z-index: 1000;
    }

    &.hidden {
      z-index: 1000;
    }

    .dropdown-item {
      color: inherit !important;
      justify-content: flex-start !important;
      border-radius: $border-radius;
      padding: 6px 10px;

      &.dropdown-item-disabled {
        pointer-events: none;
        color: $disabled-text !important;
      }

      &:hover {
        background: $hover-bg;
      }
    }

    &.dropdown--lg {
      width: 100%;
      max-width: 480px;
    }
  }
}
