@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $to;
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -webkit-linear-gradient(to bottom, from($from), to($to));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to bottom, $from, $to);
}

@mixin input-box-shadow($color) {
  -o-box-shadow: 0 0 0 1px $color !important;
  box-shadow: 0 0 0 1px $color !important;
}
