$progress-bar-secondary-bg: var(--ui-kit-progress-secondary-bg, #e4e4e4);

.ui-kit-progress-bar {
  display: flex;
  width: 100%;
  background-color: $progress-bar-secondary-bg;
  position: relative;

  &-outer {
    width: 100%;
  }

  &-inner {
    position: absolute;
    height: 100%;
    z-index: 2;
    flex: 0 auto;

    transition: width 0.4s linear;

    &:hover {
      background-image: none !important;
    }
  }

  &.ui-kit-progress-bar-small {
    height: 4px;
    margin-bottom: 8px;
    border-radius: 4px;

    .ui-kit-progress-bar-inner {
      border-radius: 4px;
    }
  }

  &.ui-kit-progress-bar-default {
    height: 8px;
    margin-bottom: 12px;
    border-radius: 6px;

    .ui-kit-progress-bar-inner {
      border-radius: 6px;
    }
  }

  &.ui-kit-progress-bar-large {
    height: 12px;
    margin-bottom: 16px;
    border-radius: 8px;

    .ui-kit-progress-bar-inner {
      border-radius: 8px;
    }
  }

  &.ui-kit-progress-bar-primary {
    .ui-kit-progress-bar-inner {
      @include gradient($primary-medium, $primary);
    }
  }

  &.ui-kit-progress-bar-success {
    .ui-kit-progress-bar-inner {
      @include gradient($success-medium, $success);
    }
  }

  &.ui-kit-progress-bar-warning {
    .ui-kit-progress-bar-inner {
      @include gradient($warning-medium, $warning);
    }
  }

  &.ui-kit-progress-bar-danger {
    .ui-kit-progress-bar-inner {
      @include gradient($danger-medium, $danger);
    }
  }
}

.ui-kit-progress-bar-meter {
  height: 100%;
  border-radius: 3px;
  background-color: $primary;

  &-indeterminate {
    width: 100%;
    height: 100%;
    background-color: $primary;
    transform-origin: 0% 50%;
    animation: indeterminateProgressbar 1s infinite linear;
  }
}
