$tootip-bg: var(--ui-kit-tooltip-bg, #0e2945);

.ui-kit-tooltip-Wrapper {
  position: relative;
}

.ui-kit-tooltip-Tip {
  position: fixed;
  border-radius: 4px;
  padding: var(--ui-kit-tooltip-padding, 6px 10px);
  color: var(--ui-kit-tooltip-text-color, #ffffff);
  background: $tootip-bg;
  font-size: var(--ui-kit-tooltip-font-size, 13px);
  z-index: var(--ui-kit-tooltip-z-index, 122);
  white-space: normal;
  max-width: 250px;
  transition: transform 0.2s ease-in;

  &::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--ui-kit-tooltip-arrow-size, 6px);
    margin-left: calc(var(--ui-kit-tooltip-arrow-size, 6px) * -1);
  }

  &.top {
    transform: translateX(-50%) translateY(-100%);

    &::before {
      top: 100%;
      border-top-color: $tootip-bg;
    }
  }

  &.right {
    transform: translateX(0) translateY(-50%);

    &::before {
      left: calc(var(--ui-kit-tooltip-arrow-size, 6px) * -1);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-right-color: $tootip-bg;
    }
  }

  &.bottom {
    transform: translateX(-50%) translateY(0);

    &::before {
      bottom: 100%;
      border-bottom-color: $tootip-bg;
    }
  }

  &.left {
    transform: translateX(-100%) translateY(-50%);

    &::before {
      left: auto;
      right: calc(var(--ui-kit-tooltip-arrow-size, 6px) * -2);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-left-color: $tootip-bg;
    }
  }
}
