.ui-kit-tooltip-Wrapper {
  position: relative;
}

.ui-kit-tooltip-Tip {
  position: fixed;
  border-radius: 4px;
  padding: var(--ui-kit-tooltip-padding, 8px 12px);
  color: var(--ui-kit-tooltip-text-color, #ffffff);
  background: $primary;
  font-size: var(--ui-kit-tooltip-font-size, 12px);
  font-family: sans-serif;
  line-height: 1;
  z-index: var(--ui-kit-tooltip-z-index, 122);
  white-space: normal;
  max-width: 250px;
  transition: transform 0.2s ease-in;

  &::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--ui-kit-tooltip-arrow-size, 6px);
    margin-left: calc(var(--ui-kit-tooltip-arrow-size, 6px) * -1);
  }

  &.top {
    transform: translateX(-50%) translateY(-100%);

    &::before {
      top: 100%;
      border-top-color: $primary;
    }

    &.ui-kit-tooltip-exiting,
    &.ui-kit-tooltip-entering {
      transform: translateX(-50%) translateY(calc(-100% + 12px));
    }
  }

  &.right {
    transform: translateX(0) translateY(-50%);

    &::before {
      left: calc(var(--ui-kit-tooltip-arrow-size, 6px) * -1);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-right-color: $primary;
    }

    &.ui-kit-tooltip-exiting,
    &.ui-kit-tooltip-entering {
      transform: translateX(-12px) translateY(-50%);
    }
  }

  &.bottom {
    transform: translateX(-50%) translateY(0);

    &::before {
      bottom: 100%;
      border-bottom-color: $primary;
    }

    &.ui-kit-tooltip-exiting,
    &.ui-kit-tooltip-entering {
      transform: translateX(-50%) translateY(-12px);
    }
  }

  &.left {
    transform: translateX(-100%) translateY(-50%);

    &::before {
      left: auto;
      right: calc(var(--ui-kit-tooltip-arrow-size, 6px) * -2);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-left-color: $primary;
    }

    &.ui-kit-tooltip-exiting,
    &.ui-kit-tooltip-entering {
      transform: translateX(calc(-100% + 12px)) translateY(-50%);
    }
  }
}
